
	body,html{
		width: 100%;
		height: 100%;
	}

	#all-page{
		width: 100%;
		height: 100%;

	}

	body{
		margin-top: 50px;
		background-color: floralwhite;
	}

	#carrosel{
		height: 400px;
		width: 100%;
	}


	#S_today{
		width: 95%;
		height: 110px
		
		
	}



	#feed-block{
		margin: 0 5% 0 5%;
		text-indent: 5%;

	}

	#feed{
		text-indent: 5%;
		display: table;
	}

	img.img-feed{

		width: 70%;
	}
	
	#feed-noticias ,#tops{
		

		display: table-cell;
		vertical-align: top;
	}

	#feed-noticias{
		text-align: justify;
		padding: 0 4% 0 2%;
		width: 70%;
		
	}

	#tab-cin{
		display: table;
		width: 100%;
		height: 100%
	}

	#cell-cin1, #cell-cin2{
		display: table-cell;
		vertical-align: top;
		width: 50%;
		height: 100%
	}



	


